html {
    background-color: rgb(32, 30, 30);
    width: 100%;
    float: center;
}

body {
  background-color: rgb(252, 252, 252);
  width: 80%;
}

.tittle {
  text-align: left;;
  padding-top: 2em;
}

h2 {
text-align: center;
background-color: rgb(19, 161, 226);
padding-top: 2em;
padding-bottom: 2em;
}




ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}

li {
  float: right;
}

li a {
  display: block;
  color: rgb(59, 49, 49);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(168, 75, 75);
}

#conteneur
{
    display: flex;
    justify-content: center;
    align-items: center;
}